name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:

    runs-on: macos-11

    steps:
    - uses: actions/checkout@v2
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_13.2.app
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
